@model int

@{
    Layout = null;
}

<h3>Counter Demo</h3>
<form hx-post="/Home/IncrementCounter" hx-swap="none">
    <input type="hidden" name="count" value="@Model" />
    <p>Count: <span>@Model</span></p>
    <button type="submit" class="btn">Increment Counter</button>
</form>