{
  "version": "1.0",
  "defaultProvider": "cdnjs",
  "libraries": [
    {
      "library": "htmx@2.0.7",
      "destination": "wwwroot/lib/htmx",
      "files": [
        "htmx.min.js"
      ]
    },
    {
      "library": "toastify-js@1.12.0",
      "destination": "wwwroot/lib/toastify-js"
    }
  ]
}
