@model List<Notification>
@using TaskFlow.Models
@using TaskFlow.Views

<div class="notification-list">
    @if (Model.Any())
    {
        @foreach (var notification in Model)
        {
            <div id="@NotificationElements.Card(notification.Id)" class="notification-item @(notification.IsRead ? "read" : "unread")">
                await Html.RenderPartialAsync(NotificationViews.Card, notification);
            </div>
        }
    }
    else
    {
        <p class="no-notifications">No notifications</p>
    }
</div>