{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
  ,
  "Data": {
    "Provider": "Sqlite",
    "MigrateOnStartup": true
  },
  "ConnectionStrings": {
    "Todos": "Data Source=todos.db"
  }
}
