# Build and runtime files
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

# NuGet packages
*.nupkg
*.snupkg
packages/

# Visual Studio
.vs/
.vscode/

# Rider
.idea/

# User-specific files
*.rsuser
*.userprefs

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# LibMan
wwwroot/lib/
