using Microsoft.Extensions.DependencyInjection;
using Swap.Htmx.Events;

namespace {{ProjectName}}.Web.Infrastructure;

public static class ModuleUiChainsExtensions
{
    public static void ConfigureSwapModuleUiChains(this IServiceProvider provider, SwapEventBusOptions options)
    {
        var contributors = provider.GetServices<ISwapUiChainContributor>();
        foreach (var c in contributors)
        {
            c.Configure(options);
        }
    }
}
