@{
    var isUserAuthenticated = User.Identity!.IsAuthenticated;

    if (isUserAuthenticated)
    {
        Layout = "/Views/Shared/_LayoutBase.cshtml";
    }
    else
    {
        Layout = "/Views/Shared/_LayoutNone.cshtml";
    }
}

<div class="container mx-auto p-4">
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body p-1">
            <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
                <div class="lg:col-span-1">
                    <partial name="_ManageNav" />
                </div>
                <div class="lg:col-span-3">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}