@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="container mx-auto p-1">
    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="card bg-base-100 shadow-xl max-w-xl">
        <div class="card-body p-2">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-error" role="alert"></div>

                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text" asp-for="Input.OldPassword"></span>
                    </label>
                    <input asp-for="Input.OldPassword"
                           type="password"
                           class="input input-bordered w-full"
                           autocomplete="current-password"
                           aria-required="true"
                           placeholder="Please enter your old password." />
                    <label class="label">
                        <span asp-validation-for="Input.OldPassword" class="label-text-alt text-error"></span>
                    </label>
                </div>

                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text" asp-for="Input.NewPassword"></span>
                    </label>
                    <input asp-for="Input.NewPassword"
                           type="password"
                           class="input input-bordered w-full"
                           autocomplete="new-password"
                           aria-required="true"
                           placeholder="Please enter your new password." />
                    <label class="label">
                        <span asp-validation-for="Input.NewPassword" class="label-text-alt text-error"></span>
                    </label>
                </div>

                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text" asp-for="Input.ConfirmPassword"></span>
                    </label>
                    <input asp-for="Input.ConfirmPassword"
                           type="password"
                           class="input input-bordered w-full"
                           autocomplete="new-password"
                           aria-required="true"
                           placeholder="Please confirm your new password." />
                    <label class="label">
                        <span asp-validation-for="Input.ConfirmPassword" class="label-text-alt text-error"></span>
                    </label>
                </div>

                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-primary">Update password</button>
                </div>
            </form>
        </div>
    </div>
</div>
