@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="container mx-auto p-1">
    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="alert alert-info mb-6">
        <img src="~/svg/information.svg" class="h-6 w-6" />
        <span>You do not have a local username/password for this site. Add a local account so you can log in without an external login.</span>
    </div>

    <div class="card bg-base-100 shadow-xl max-w-xl">
        <div class="card-body p-2">
            <form id="set-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-error" role="alert"></div>

                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text" asp-for="Input.NewPassword"></span>
                    </label>
                    <input asp-for="Input.NewPassword"
                           type="password"
                           class="input input-bordered w-full"
                           autocomplete="new-password"
                           placeholder="Please enter your new password." />
                    <label class="label">
                        <span asp-validation-for="Input.NewPassword" class="label-text-alt text-error"></span>
                    </label>
                </div>

                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text" asp-for="Input.ConfirmPassword"></span>
                    </label>
                    <input asp-for="Input.ConfirmPassword"
                           type="password"
                           class="input input-bordered w-full"
                           autocomplete="new-password"
                           placeholder="Please confirm your new password." />
                    <label class="label">
                        <span asp-validation-for="Input.ConfirmPassword" class="label-text-alt text-error"></span>
                    </label>
                </div>

                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-primary">Set password</button>
                </div>
            </form>
        </div>
    </div>
</div>
