@model SwapSmallPartials.Modules.Partials.PartialsState

<div id="partial-active-statuses" class="card h-100 bg-secondary text-white">
    <div class="card-body text-center p-2">
        <div class="small opacity-75">Active</div>
        <div class="display-6 fw-bold">@Model.ActiveStatuses / 5</div>
    </div>
</div>
