@model SwapSmallPartials.Modules.Partials.PartialsState

<div id="partial-average" class="card h-100 bg-info text-white">
    <div class="card-body text-center p-2">
        <div class="small opacity-75">Average</div>
        <div class="display-6 fw-bold">@Model.Average.ToString("F1")</div>
    </div>
</div>
