@model SwapSmallPartials.Modules.Partials.PartialsState

<div id="partial-max" class="card h-100 bg-success text-white">
    <div class="card-body text-center p-2">
        <div class="small opacity-75">Max</div>
        <div class="display-6 fw-bold">@Model.Max</div>
    </div>
</div>
