@model SwapSmallPartials.Modules.Partials.PartialsState

<div id="partial-min" class="card h-100 bg-warning text-dark">
    <div class="card-body text-center p-2">
        <div class="small opacity-75">Min</div>
        <div class="display-6 fw-bold">@Model.Min</div>
    </div>
</div>
