@model List<string>

@if (Model.Any())
{
    <div class="box">
        <p class="has-text-weight-bold mb-2">@Model.Count result(s) found:</p>
        <ul>
            @foreach (var product in Model)
            {
                <li class="mb-1">
                    <span class="icon has-text-success">
                        <i class="fas fa-check"></i>
                    </span>
                    @product
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="notification is-light">
        No products found. Try searching for "Apple", "Samsung", or "Google".
    </div>
}
