@model List<{{ProjectName}}.Application.Dtos.TodoItemDto>

<div id="todo-list">
    <ul>
        @if (Model == null || !Model.Any())
        {
            <li class="has-text-grey-light is-italic">No todos yet. Add one above!</li>
        }
        else
        {
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("_TodoItem", item)
            }
        }
    </ul>
</div>
