@model List<Identity.Application.Contracts.Users.UserDto>
@{
    ViewData["Title"] = "User Management";
}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <h1 class="title">Users</h1>
                <p class="subtitle">Manage application users and their roles</p>
            </div>
            <div class="column is-4 has-text-right">
                <button class="button is-primary" 
                        hx-get="/Users/New" 
                        hx-target="#user-form-container"
                        hx-swap="innerHTML">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Add User</span>
                </button>
            </div>
        </div>

        <div class="columns">
            <div class="column is-8">
                <div class="box">
                    <div id="user-list-container">
                        @await Html.PartialAsync("_UserList", Model)
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="box">
                    <div id="user-form-container">
                        <p class="has-text-grey has-text-centered">
                            Select "Add User" or click "Edit" on a user to begin
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
