using Swap.Htmx.Events;
using {{ProjectName}}.Modules.Todos.Web.Events;

namespace {{ProjectName}}.Modules.Todos.Web.Infrastructure;

public sealed class TodosUiChainContributor : ISwapUiChainContributor
{
    public void Configure(SwapEventBusOptions options)
    {
        TodosUiChains.Configure(options);
    }
}
