@model SignupViewModel

<div class="notification is-success">
    <span class="icon">
        <i class="fas fa-check-circle"></i>
    </span>
    <span><strong>Success!</strong> Account created for <strong>@Model.Email</strong></span>
</div>
