@model UserDisplayDto
<div class="flex items-center space-x-3">
    <div class="avatar placeholder">
        <div class="text-white rounded-full w-10 h-10 flex items-center justify-center" style="background-color: @Model.Color">
            @Model.Initial
        </div>
    </div>
    <div>
        <h1 class="text-lg font-satisfy leading-tight">Welcome</h1>
        <p class="mt-0">@Model.Name</p>
    </div>
</div>