<div class="alert alert-success">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Your password has been reset.</span>
</div>

<div class="mt-4 text-center">
    <a hx-get="@Url.Action("Login", "Identity")"
       hx-target="#primary-container"
       hx-push-url="true"
       hx-indicator="#loading-indicator"
       class="link link-primary">Click here to log in</a>
</div> 