@model (int Id, IEnumerable<SelectListItem> Currencies)

<h3 class="font-bold text-lg">View Rate Card</h3>
<div class="py-4">
    <form action="@Url.Action("View", new { id = Model.Id })" 
          method="get"
          target="_blank">
        <div class="form-control w-full">
            <label class="label">
                <span class="label-text">Currency</span>
            </label>
            <select name="currencyId" class="select select-bordered w-full">
                @foreach (var currency in Model.Currencies)
                {
                    <option value="@currency.Value">@currency.Text</option>
                }
            </select>
        </div>
        <div class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text">Include Supplier?</span>
                <input type="checkbox" name="includeSupplier" class="checkbox" value="true" />
                <input type="hidden" name="includeSupplier" value="false" />
            </label>
        </div>
        <div class="modal-action">
            <button type="submit" class="btn btn-primary">View</button>
            <button type="button" class="btn" onclick="document.getElementById('viewModal').close()">Close</button>
        </div>
    </form>
</div> 