@model List<Identity.Application.Contracts.Users.UserDto>

@if (Model.Any())
{
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
                <th>Email</th>
                <th>Full Name</th>
                <th>Roles</th>
                <th>Status</th>
                <th class="has-text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                @await Html.PartialAsync("_UserRow", user)
            }
        </tbody>
    </table>
}
else
{
    <div class="notification is-info is-light">
        <p>No users found. Click "Add User" to create your first user.</p>
    </div>
}
