@model List<Identity.Application.Contracts.Roles.RoleDto>

@if (Model.Any())
{
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th class="has-text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                @await Html.PartialAsync("_RoleRow", role)
            }
        </tbody>
    </table>
}
else
{
    <div class="notification is-info is-light">
        <p>No roles found. Click "Add Role" to create your first role.</p>
    </div>
}
