@model string

<div id="tab-content">
    <h4>@Model Tab</h4>
    @switch (Model?.ToLower())
    {
        case "overview":
            <p>This is the overview tab content. It provides a high-level summary.</p>
            break;
        case "details":
            <p>This is the details tab with more specific information about the item.</p>
            <ul>
                <li>Detail item 1</li>
                <li>Detail item 2</li>
                <li>Detail item 3</li>
            </ul>
            break;
        case "history":
            <p>This is the history tab showing recent changes.</p>
            <ul>
                <li>Changed by User A - 2 hours ago</li>
                <li>Created by User B - 1 day ago</li>
            </ul>
            break;
        default:
            <p>Select a tab above.</p>
            break;
    }
    
    <div style="margin-top: 1rem; padding: 0.5rem; background: #fef3c7; border-radius: 0.375rem; font-size: 0.875rem;">
        <strong>Note:</strong> URL didn't change (pushUrl: false)
    </div>
</div>
