@model string

<div class="notification is-info" data-test-id="toast-triggered">
    <button class="delete"></button>
    Toast triggered! Check the top-right corner for the toast notification.
</div>
