@using carestream.core.infrastructure
@using carestream.core.dtos.facility
@model ICurrentFacilityContext
@{
    Layout = null;
    var currentFacility = Model.UserAccessibleFacilities.FirstOrDefault(f => f.FacilityId == Model.CurrentFacilityId);
}

<div _="on click from me.firstElementChild toggle .dropdown-open on me end on click from document remove .dropdown-open from me unless me contains event.target or event.target is me"
     class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost normal-case btn-sm flex items-center">
        <i data-feather="map-pin" class="w-4 h-4 mr-1"></i>
        <span>@currentFacility?.Name</span>
        <i data-feather="chevron-down" class="w-4 h-4 ml-1"></i>
    </label>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-60">
        @foreach (var facility in Model.UserAccessibleFacilities)
        {
            <li>
                <button hx-post="@Url.Action("SelectFacility", "FacilitySelection")"
                        hx-vals='{"selectedFacilityId": @facility.FacilityId}'
                        hx-target="body" hx-swap="none" hx-indicator="#facility-selector-spinner"
                        type="submit" class="w-full text-left @(facility.FacilityId == Model.CurrentFacilityId ? "active" : "")">
                    @if (facility.FacilityId == Model.CurrentFacilityId)
                    {
                        <i data-feather="check" class="w-4 h-4 ml-auto"></i>
                    }
                    @facility.Name
                </button>
            </li>
        }
    </ul>
</div>

<script>
    if (typeof feather !== 'undefined') {
        feather.replace();
    }
</script>