@model Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary
@{
    Layout = null;
}
@if (!Model.IsValid)
{
    <div class="text-error text-xs italic p-2 border border-error rounded">
        <p>Please correct the following errors:</p>
        <ul class="list-disc list-inside ml-4">
            @foreach (var error in Model.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}