@model Project
@inject TaskFlow.Services.IProjectService ProjectService

<div class="progress-bar-container">
    <div class="progress-bar">
        <div class="progress-fill" style="width: @(ProjectService.GetProgress(Model.Id))%"></div>
    </div>
    <span class="progress-text">@(ProjectService.GetProgress(Model.Id))% Complete</span>
</div>
