@model TaskFlow.Dtos.RefreshablePanelModel
<div class="box mb-4" data-component>
  <div class="is-flex is-justify-content-space-between mb-4">
    <h3 class="title is-5">@Model.Title</h3>
  </div>
  <div hx-get="@Model.ContentUrl"
       hx-trigger="load, @Model.EventName from:body"
       hx-target="this"
       hx-swap="innerHTML">
    <div class="has-text-centered py-4">
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
      <span class="ml-2">Loading...</span>
    </div>
  </div>
</div>
