@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "carestream";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: #F9FAFB;
    --color-base-200: #F3F4F6;
    --color-base-300: #E5E7EB;
    --color-base-content: #111827;
    --color-primary: #800020;
    --color-primary-content: #FFFFFF;
    --color-secondary: #1B2845;
    --color-secondary-content: #FFFFFF;
    --color-accent: oklch(70% 0.191 22.216);
    --color-accent-content: #FFFFFF;
    --color-neutral: #6B7280;
    --color-neutral-content: #111827;
    --color-info: #BFDBFE;
    --color-info-content: #1E40AF;
    --color-success: #A7F3D0;
    --color-success-content: #065F46;
    --color-warning: #FED7AA;
    --color-warning-content: #92400E;
    --color-error: #FECACA;
    --color-error-content: #DC2626;
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
