@using TaskFlow.Services
@using TaskFlow.Views
@inject IActivityService ActivityService

@{
    var activities = ActivityService.GetRecent(10);
}

<div id="@DashboardElements.Activity" class="activity-feed">
    @{ await Html.RenderPartialAsync(DashboardViews.Activity, activities); }
</div>
