@model List<Project>
@using TaskFlow.Models
@using TaskFlow.Views
@inject TaskFlow.Services.IProjectService ProjectService
@{
    Layout = null;
}

@foreach (var project in Model)
{
    <div class="project-summary">
        <h3>@project.Name</h3>
        <div id="@ProjectElements.Progress(project.Id)">
            @{ await Html.RenderPartialAsync(ProjectViews.ProgressBar, ProjectService.GetProgress(project.Id)); }
        </div>
    </div>
}
