<form hx-post="/Home/AddTodo"
      hx-on::after-request="this.reset()"
      class="field has-addons mb-4">
  <div class="control is-expanded">
    <input type="text"
           name="title"
           placeholder="What needs to be done?"
           class="input"
           required />
  </div>
  <div class="control">
    <button type="submit" class="button is-primary">
      Add
    </button>
  </div>
</form>
