<div id="todo-list-container"
     hx-get="/Home/TodoList"
  hx-trigger="load, @(EventNames.Ui.TodoRefreshList) from:body"
     hx-target="this"
     hx-swap="innerHTML">
  <div class="has-text-centered py-4">
    <span class="icon">
      <i class="fas fa-spinner fa-pulse"></i>
    </span>
    <span class="ml-2">Loading todos...</span>
  </div>
</div>
