@model PagedResult<MemberDto>

<ul class="bg-white text-gray-500 w-full rounded">
    @foreach (var member in Model.Data)
    {
        <partial name="_MemberListItem" model="member" />
    }
</ul>

@if (!Model.HasMore)
{
    <input id="table_end" type="hidden" value="0" />
}

@if (!Model.Data.Any())
{
    <div class="text-center py-8">
        <p class="text-base-content/70">No members found</p>
    </div>
}

<div id="modal-container"></div>