<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SwapExpenses</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/htmx/dist/htmx.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
