@model IEnumerable<SwapShop.Models.Product>
@using SwapShop.Views

@{
    Layout = null;
}

<div id="@ProductElements.Grid" class="product-grid">
    @if (!Model.Any())
    {
        <p>No products found.</p>
    }
    else
    {
        foreach (var product in Model)
        {
            @await Html.PartialAsync(ProductViews.Card, product)
        }
    }
</div>
