@model int
@{
  var name = (string)(ViewData["Name"] ?? "a");
}
<div class="is-flex is-align-items-center">
  <div class="mr-4">
    <p class="heading">Value</p>
    <p class="title is-3">@Model</p>
  </div>
  <button class="button is-primary"
          hx-post="/Components/Increment?name=@name">
    Increment @name.ToUpper()
  </button>
</div>
