@using carestream.core.dtos.admin.facility
@model DepartmentListViewModel
@{
    Layout = null;
}

@if (Model.FacilityId <= 0)
{
    <div class="alert alert-info text-center">
        <i data-feather="info" class="w-6 h-6 mr-2"></i>
        <span>Please select a facility from the dropdown above to view and manage its departments.</span>
    </div>
}
else
{
    <div id="department-list-container"
         hx-get="@Url.Action("Index", "DepartmentAdmin", new { facilityId = Model.FacilityId })"
         hx-trigger="load once, refreshDepartmentList from:body"
         hx-swap="innerHTML">
        <div class="flex justify-center items-center p-10">
            <span class="loading loading-lg loading-spinner"></span>
            <p class="ml-2">Loading departments for @Model.FacilityName...</p>
        </div>
    </div>
}