@model int
<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">Notes</div>
    <div class="stat-value">@Model</div>
    <div class="stat-desc">Total notes added</div>
  </div>
</div>
