<div class="notification is-warning">
    <h2 class="title is-5">Account Locked</h2>
    <p>Your account has been locked due to multiple failed login attempts.</p>
    <p>Please try again in 15 minutes or contact support.</p>
    
    <div class="mt-4">
        <a href="/account/login" class="button is-light">Back to Login</a>
    </div>
</div>
