<div class="notification is-success">
    <button class="delete"></button>
    <p><strong>Password Changed!</strong> Your password has been updated successfully.</p>
</div>

@await Html.PartialAsync("_ChangePasswordForm", new NetMX.Identity.Contracts.Users.ChangePasswordDto())
