<div class="notification is-success">
    <button class="delete"></button>
    <h2 class="title is-5">
        <span class="icon">
            <i class="fas fa-check-circle"></i>
        </span>
        Account Created Successfully!
    </h2>
    <p>Your account has been created. You can now sign in.</p>
    
    <div class="mt-4">
        <a href="/account/login" class="button is-success is-light">
            Go to Login
        </a>
    </div>
</div>
