@using carestream.core.dtos.admin.facility
@model IEnumerable<DepartmentDto>
@{
    Layout = null;
}

<option value="">None</option>
@foreach (var dept in Model.OrderBy(d => d.Name))
{
    <option value="@dept.DepartmentId">@dept.Name</option>
}