@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "alert-error" : "alert-success";
    <div class="alert @statusMessageClass">
        <img src="~/svg/profile.svg" class="h-8 w-8" />
        <span>@Model</span>
        <img src="~/svg/close.svg" class="h-6 w-6" />
    </div>
}