@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container">
    <div class="min-h-screen flex">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title text-2xl">@ViewData["Title"]</h2>
                @{
                    if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <form class="mt-4" asp-area="Identity" asp-page="/Account/Logout" method="post">
                            <button type="submit" class="btn btn-primary w-full">
                                <img src="~/svg/logout.svg" class="h-6 w-6" />
                                Logout
                            </button>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <img src="~/svg/verified.svg" class="h-6 w-6" />
                            <span>You have successfully logged out of the application.</span>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>