@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "/Views/Shared/_LayoutNone.cshtml";
}

<div class="container">
    <div class="min-h-screen flex">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <h2 class="card-title text-2xl">@ViewData["Title"]</h2>
                <p class="text-base-content/70">Reset your password.</p>
                <div class="divider"></div>

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-error" role="alert"></div>
                    <input asp-for="Input.Code" type="hidden" />

                    <!-- Email Input -->
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text" asp-for="Input.Email"></span>
                        </label>
                        <input asp-for="Input.Email"
                               type="email"
                               class="input input-bordered w-full"
                               autocomplete="username"
                               aria-required="true"
                               placeholder="name@example.com" />
                        <label class="label">
                            <span asp-validation-for="Input.Email" class="label-text-alt text-error"></span>
                        </label>
                    </div>

                    <!-- Password Input -->
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text" asp-for="Input.Password"></span>
                        </label>
                        <input asp-for="Input.Password"
                               type="password"
                               class="input input-bordered w-full"
                               autocomplete="new-password"
                               aria-required="true"
                               placeholder="Please enter your password." />
                        <label class="label">
                            <span asp-validation-for="Input.Password" class="label-text-alt text-error"></span>
                        </label>
                    </div>

                    <!-- Confirm Password Input -->
                    <div class="form-control w-full">
                        <label class="label">
                            <span class="label-text" asp-for="Input.ConfirmPassword"></span>
                        </label>
                        <input asp-for="Input.ConfirmPassword"
                               type="password"
                               class="input input-bordered w-full"
                               autocomplete="new-password"
                               aria-required="true"
                               placeholder="Please confirm your password." />
                        <label class="label">
                            <span asp-validation-for="Input.ConfirmPassword" class="label-text-alt text-error"></span>
                        </label>
                    </div>

                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
