@using NetMX.Events

@{
    ViewData["Title"] = "Settings";
}

<div class="container">
    <div class="section">
        <h1 class="title">
            <i class="fas fa-box"></i> Settings
        </h1>

        <!-- Actions -->
        <div class="level">
            <div class="level-left"></div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-primary"
                            hx-get="/Setting/Create"
                            hx-target="#modal-container">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>New Setting</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- List Container -->
        <div id="list-container"
             hx-get="/Setting/List"
             hx-trigger="load, @Events.Setting.Created from:body, @Events.Setting.Updated from:body, @Events.Setting.Deleted from:body"
             hx-include="[name='searchQuery'],[name^='filter']">
            <div class="has-text-centered">
                <span class="icon is-large">
                    <i class="fas fa-spinner fa-pulse"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Modal Container -->
<div id="modal-container"></div>
