<div id="bulk-todos"
  hx-get="/Demo/BulkTodos"
  hx-trigger="load, ui.todo.refreshList from:body"
     hx-target="this"
     hx-swap="innerHTML">
  <div class="loading loading-spinner"></div>
</div>
